## Terraless IAM

resource "aws_iam_role" "terraless-lambda-iam-role" {
  name = "terraless-lambda-iam-role"

  assume_role_policy = "${data.aws_iam_policy_document.terraless-lambda-assume-role.json}"

  tags = "${var.terraless-default-tags}"
}

data "aws_iam_policy_document" "terraless-lambda-assume-role" {
  statement {
    effect = "Allow"

    actions = [
      "sts:AssumeRole"
    ]

    principals {
      identifiers = [
        "apigateway.amazonaws.com",
        "edgelambda.amazonaws.com",
        "lambda.amazonaws.com",
      ]
      type = "Service"
    }
  }
}

data "aws_iam_policy_document" "terraless-lambda" {
  statement {
    effect = "Allow"

    actions = [
      "logs:CreateLogStream",
      "logs:PutLogEvents",
    ]

    resources = ["*"]
  }
}

resource "aws_iam_policy" "terraless-lambda-policy" {
  name = "terraless-lambda-policy"

  policy = "${data.aws_iam_policy_document.terraless-lambda.json}"
}

resource "aws_iam_role_policy_attachment" "terraless-lambda" {
  role = "${aws_iam_role.terraless-lambda-iam-role.name}"
  policy_arn = "${aws_iam_policy.terraless-lambda-policy.arn}"
}
