## Terraless Lambda@Edge

resource "aws_cloudwatch_log_group" "lambda-log-terraless-lambda-cloudfront" {
  name = "/aws/lambda/terraless-lambda-cloudfront-{{ .ProjectName }}"
  retention_in_days = 1
  provider = "aws.us-east"
  tags = "${var.terraless-default-tags}"
}

resource "aws_lambda_function" "terraless-lambda-cloudfront" {
  function_name = "terraless-lambda-cloudfront-{{ .ProjectName }}"
  handler = "lambda.singleEntryPointHandler"
  role = "${aws_iam_role.terraless-lambda-iam-role.arn}"
  runtime = "nodejs8.10"
  filename = "{{ .FileName }}"
  source_code_hash = "${base64sha256(file("{{ .FileName }}"))}"
  publish = true
  provider = "aws.us-east"
  tags = "${var.terraless-default-tags}"
}
